name: Build APK
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Get Date
        shell: bash
        run: echo "date=$(date +'%Y-%m-%d--%H-%M')" >> $GITHUB_OUTPUT
        id: get-date

      - name: Buildozer Action
        uses: ArtemSBulgakov/buildozer-action@v1
        with:
          buildozer_version: master
          #python_version: 3.11

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: calculator-apk-${{ steps.get-date.outputs.date }}
          path: bin/*.apk
