name: Android Build
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        env:
          USER: root  # This fixes the 'invalid user: user' error
        with:
          command: buildozer android debug
          buildozer_version: master
